@font-face {
  font-family:'WAGURI';
src: url('../resources/font/WAGURI.ttf') format('truetype');
}

@font-face {
  font-family:'강원교육모두';
src: url('../resources/font/강원교육모두.ttf') format('truetype');
}

@font-face {
  font-family:'강원교육현옥샘';
src: url('../resources/font/강원교육현옥샘.ttf') format('truetype');
}

@font-face {
  font-family:'강원교육새음';
src: url('../resources/font/강원교육새음.ttf') format('truetype');
}

@font-face {
  font-family:'SEOLEIM';
src: url('../resources/font/SEOLEIM.ttf') format('truetype');
}


*{
  background-color: rgb(228, 255, 252);
}

#title{
  color: rgb(77, 16, 16);
  font-weight: lighter;
  font-size:  300%;
  font-family: 'WAGURI';
  text-align: center;
}

#introduce{
  font-family:'강원교육현옥샘';
  font-size: 200%;
}

.a{
  font-family: '강원교육모두';
  font-size: 80%;
}

#b{
  font-family: '강원교육모두';
  color: rgb(255, 101, 171);
  font-weight: bold;
  font-size: 100%;
}

#order{
  background-color: rgba(255, 101, 170, 0.737);
  color: rgb(192, 255, 234);
  border: none;
  font-size: 150%;
}

h2{
  font-family: 'WAGURI';
  font-weight: lighter;
  font-size: 150%;
  color: rgb(34, 5, 5);
}