@font-face {
  font-family:'WAGURI';
src: url('../resources/font/WAGURI.ttf') format('truetype');
}

@font-face {
  font-family:'강원교육모두';
src: url('../resources/font/강원교육모두.ttf') format('truetype');
}

@font-face {
  font-family:'강원교육현옥샘';
src: url('../resources/font/강원교육현옥샘.ttf') format('truetype');
}

@font-face {
  font-family:'강원교육새음';
src: url('../resources/font/강원교육새음.ttf') format('truetype');
}

@font-face {
  font-family:'SEOLEIM';
src: url('../resources/font/SEOLEIM.ttf') format('truetype');
}


*{
  background-color: rgb(228, 255, 252);
  font-family: '강원교육모두';
}

.title{
  font-size: 300%;
  color: rgb(255, 101, 171);
  font-family: 'WAGURI';
  text-align: center;
}

#a{
  font-size: 120%;
  font-family: 'WAGURI';
  font-weight: lighter;
}

#bt{
  font-size: 120%;
  font-family: 'WAGURI';
}