@font-face {
  font-family:'WAGURI';
src: url('../resources/font/WAGURI.ttf') format('truetype');
}


@font-face {
  font-family:'감탄로드바탕체';
src: url('../resources/font/감탄로드바탕체.ttf') format('truetype');
}



*{
  background-color: rgb(228, 255, 252);
}

#title{
  color: rgb(77, 16, 16);
  font-weight: lighter;
  font-size:  300%;
  font-family: 'WAGURI';
  text-align: center;
}

#introduce{
  font-family:'감탄로드바탕체';
  font-size: 150%
}

.a{
  font-family: '감탄로드바탕체';
  font-size: 100%;
}

#b{
  font-family: '감탄로드바탕체';
  color: rgb(255, 101, 171);
  font-weight: bold;
  font-size: 100%;
}

#btn-order{
  background-color: rgba(255, 101, 170, 0.737);
  color: rgb(192, 255, 234);
  border-radius: 5px;
  border: none;
  font-size: 200%;
  font-family: '감탄로드바탕체';
}


#btn-order:hover {
  background-color: rgba(255, 0, 115, 0.737);
  color: rgb(150, 255, 220);
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  font-family: '감탄로드바탕체';
}

#btn-order:active {
  top: 2px;
}

h2{
  font-family: 'WAGURI';
  font-weight: lighter;
  font-size: 150%;
  color: rgb(34, 5, 5);
}