@font-face {
  font-family:'WAGURI';
src: url('../resources/font/WAGURI.ttf') format('truetype');
}



@font-face {
  font-family:'감탄로드바탕체';
src: url('../resources/font/감탄로드바탕체.ttf') format('truetype');
}


*{
  background-color: rgb(228, 255, 252);
  font-family: '감탄로드바탕체';
}

.title{
  font-size: 300%;
  color: rgb(255, 101, 171);
  font-family: 'WAGURI';
  text-align: center;
}

#a{
  font-size: 120%;
  font-family: 'WAGURI';
  font-weight: lighter;
}

#bt{
  font-size: 120%;
  font-family: 'WAGURI';
}

#memberAll{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

#member{
  width: 95%;
  height: 150%;
  border: 5px dashed rgb(255, 101, 171);
  border-radius: 20px;

  display: grid;

  place-items: center center;

  align-content: center;

  text-align: center;
}
#membertext{
  font-size: 200%;
}


